{% extends "base/base.html" %}
{% block title %} Unidad Medida {% endblock title %}

{% block css %}
	<style>
		.app-pagination {
			margin-top: 0;
			margin-bottom: 0;
		}
		.app-text-pagination {
			margin-top: 5px;
		}
	</style>
{% endblock css %}

{% block container %}
    <div class="row">
        <div class="col-lg-12 col-xs-12">
        	<ol class="breadcrumb">
				<li><a href="{% url 'vista_admin' %}">	Inicio</a></li>
				<li>	Unidad Medida</li>
            </ol>
        </div>
    </div>
    <div class="row app-search ">
		<div class="col-md-9 col-xs-12">
			<a class="btn btn-success btn-sm btn-flat" href="{% url 'agregar_unidad' %}"><span class="glyphicon glyphicon-plus"></span> Agregar U. Medida</a>
		</div><!--
        <div class="col-md-3  col-xs-12 pull-right">
        	<form action="" role="search">
            	<div class="input-group add-on">
            		<input class="form-control input-sm"  type="search" placeholder=" Ingrese su busqueda..">
                	<div class="input-group-btn ">
                  		<button class="btn btn-warning btn-sm" type="submit"><i class="glyphicon glyphicon-search "></i></button>
                	</div>
              	</div>
            </form>
        </div>-->
    </div>
    <div class="row">
	    <div class="col-md-12 col-sm-12 col-xs-12">
	    	<div class="row">
	    		<div class="col-md-6 col-md-offset-3">
		    		{% if messages %}
			    		<div class="alert alert-success alert-dismissable fade in" role="alert">
							<a href="#"  class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></a>
			    			{% for message in messages %}
			    				<span class="glyphicon glyphicon-ok-circle"></span> &nbsp;&nbsp;&nbsp;{{ message }}
			    			{% endfor %}
			    		</div>
			    	{% endif %}
		    	</div>
	    	</div>
	       	<div class="panel app-formulario-sm">
				<h4 class="title-panel text-center">UNIDADES DE MEDIDA</h4>
	        	<div class="panel-body">

					<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead class="app-thead">
									<tr>
										<th class="text-center" width="15px">N°</th>
										<th class="text-center">Nombre</th>
										<th class="text-center">Descripcion</th>
										<th class="text-center" width="150px">Acciones</th>
									</tr>
								</thead>
								{% if object_list %}
								<tbody>
									{% for unid in object_list %}
										<tr>
											<td class="text-center">{{ forloop.counter }}</td>
											<td>{{ unid.nombre }}</td>
											<td>{{ unid.descripcion |truncatechars:80 }}</td>
											<td class="text-center">
												<!--<a class="btn btn-default btn-xs " href=""><span class="glyphicon glyphicon-zoom-in"></span></a>-->
												<a class="btn btn-success btn-xs btn-flat" href="/edit/unidad/{{unid.id}}/" data-toggle="tooltip" data-placement="top" title="Modificar"><span class="glyphicon glyphicon-pencil"></span></a>
												<a class="btn btn-danger btn-xs btn-flat" href="{% url 'eliminar_unidad' unid.id %}" data-toggle="tooltip" data-placement="top" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
								{% else %}
									<td colspan="4"><p class="text-center">No hay registros de unidades de medida...</p></td>
								{% endif %}
							</table>
					</div>

					{% include "_pagination.html" %}
                <p class="app-text-pagination">Visualizando pagina <b>{{ page_obj.number }}</b> de <b>{{ paginator.num_pages }}</b></p>
	        	</div>
    		</div>
		</div>
	</div>
{% endblock container %}


