{% load i18n %}
<div class="pagination pagination-sm pull-right app-pagination">
    {% if page_obj.has_previous %}
        <a href="?{{ page_obj.previous_page_number.querystring }}" class="prev">&larr;  {% trans "Anterior" %}</a>
    {% else %}
        <span class="disabled prev">&larr;  {% trans "Anterior" %}</span>
    {% endif %}
    {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?{{ page_obj.next_page_number.querystring }}" class="next">{% trans "Siguiente" %} &rarr;</a>
    {% else %}
        <span class="disabled next">{% trans "Siguiente" %} &rarr;</span>
    {% endif %}
</div>
