{% extends "base/base.html" %}
{% block title %}Reporte-Salida{% endblock title %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'datepicker/datepicker3.css' %}">
{% endblock css %}

{% block container %}
	<div class="row">
        <div class="col-lg-12 col-xs-12">
        	<ol class="breadcrumb">
				<li><a href="{% url 'vista_admin' %}">	Inicio </a></li>
				<li>	Reporte- Salida</li>
            </ol>
        </div>
    </div>
    <div class="row">
	    <div class="col-md-12 col-sm-12 col-xs-12">
	       	<div class="panel app-formulario">
					<h4 class="title-panel text-center"> GENERAR REPORTES POR SALIDA </h4>
	        	<div class="panel-body" >
					<form action="" method="POST" enctype='multipart/form-data' class="form-horizontal">  {% csrf_token %}
						<div class="row">
							{% if error %}
								<div class="col-md-2" style="margin-left:5px;">
									<a href="{% url 'generar_reporte_lista_salidas' %}" class="btn btn-success btn-sm btn-flat"><span class=" 	glyphicon glyphicon-repeat"></span> Actualizar</a>
								</div>
					    		<div class="col-md-6 col-md-offset-1">
							    	<div class="alert alert-danger alert-dismissable fade in" role="alert">
										<a href="#"  class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></a><strong>¡&nbsp;Atencion...&nbsp;!</strong> &nbsp;&nbsp;&nbsp;{{error}}
							    	</div>
						    	</div>
					    	{% endif %}
				    	</div>
						<div class="row">
							<div class=" col-md-offset-2 col-md-4">
								<div class="form-group">
									<label for="" class="control-label col-md-4" for="Date">Fecha Inicio :</label>
									<div class="col-md-7 input-group">
										{{ rangoform.fecha_i }}
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="" class="control-label col-md-4" for="Date">Fecha Fin :</label>
									<div class="col-md-7 input-group">
										{{ rangoform.fecha_f }}
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<button  type="submit" class="btn btn-danger btn-sm btn-flat" target="_blank"><span class="fa fa-file-pdf-o"></span>  Generar Reporte</button>
							</div>
						</div>
					</form>
	        	</div>
    		</div>
		</div>
	</div>
{% endblock container %}
{% block js_1 %}
	<script src="{% static 'datepicker/bootstrap-datepicker.js' %}"></script>

	<script>
 		$('#Date').datepicker({
			autoclose: true,
			todayHighlight: true
		});
		$('#Date1').datepicker({
			autoclose: true,
			todayHighlight: true,
		});


		$('#Fecha_i').datepicker({
			autoclose: true,
			todayHighlight: true,
 		});

		$('#Fecha_f').datepicker({
			autoclose: true,
			todayHighlight: true,
		});

	</script>
{% endblock js_1 %}
