
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="app-thead">
            <tr>
                <th class="text-center"width="15px">N°</th>
                <th class="text-center">Nombres</th>
                <th class="text-center">Apellidos</th>
                <th class="text-center">Genero</th>
                <th class="text-center">Cedula de Identidad</th>
                <th class="text-center">Empresa</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        {% if resultado %}
            {% for prov in resultado %}
                <tbody>
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td>{{ prov.nombre }}</td>
                        <td>{{ prov.apellidos }}</td>
                        <td class="text-center">{{ prov.genero }}</td>
                        <td class="text-center">{{ prov.ci }}</td>
                        <td class="text-center">{{ prov.empresa }}</td>
                        <td class="text-center">
                            <a class="btn btn-default btn-xs btn-flat" href="{% url 'detalle_proveedor' prov.id %}" data-toggle="tooltip" data-placement="top" title="Detalle"><span class="glyphicon glyphicon-zoom-in"></span></a>
                            <a class="btn btn-success btn-xs btn-flat" href="/edit/proveedor/{{prov.id}}/" data-toggle="tooltip" data-placement="top" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn btn-danger btn-xs btn-flat" href="{% url 'eliminar_proveedor' prov.id %}" data-toggle="tooltip" data-placement="top" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        {% else %}
            <td colspan="7"><p class='text-center'>No existe ningun proveedor con esos datos....!!</p></td>
        {% endif %}
    </table>
</div>
